html(lang='en')
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="../css/style.css")
    title Game
body
    main
        div(class="word-list")
            each card in grid.grid
                div(class="word-card" color=card.color ? card.color : 'null' ) #{card.word}
            div(class="spacer")
            div(class="spacer")
            div(class="spacer")
            div(class="spacer")
            
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js")
    script(src="../js/index.js")
